.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #fff;
    color: black;
    height: 7rem;
    padding: 0 10vw;
    align-items: center;

    &__logo {
        font-size: 1.5rem;
    }
    
    &__categories {
        padding: 0 !important;
        margin: 0 !important;
        display: flex;
        list-style: none;
        height: 100%;
        justify-items: center;
    }

    &__category {
        display: flex;
        align-items: center;
        padding: 0 .6rem;
        font-size: 1.3rem;
        cursor: pointer;
        font-weight: 500;
        border-bottom: 2px solid #fff;


        &:hover, &:focus{
            outline: none !important;
            border-bottom: 2px solid #000;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.1rem;
        margin-left: 1rem;
        border-radius: 100%;
        height: 42px;
        width: 42px;
        padding: .4rem;
        cursor: pointer;
        
        &:hover, &:focus {
            outline: none !important;
            background-color: rgb(214, 214, 214);
        }
    }
}